.card{
    max-width: 20vw;
    overflow-wrap: break-word;
    padding: 50px;
    height: 40vh;
}

.card .top{
    height: 20vh;
}

.selected{
    background-color: #d1cfe2;
    border-width: 3px;
    border-color: #A7C7E7;
}

.conflict {
    background-color: #d4afb9;
    border-width: 3px;
    border-color: #fcc09f;
  }